<div *ngIf="singleMovie" class="movieCard">
  <a  routerLink="/movie/{{singleMovie.id}}" (click)="getDetails()">
    <div>
      <img src="https://image.tmdb.org/t/p/original{{singleMovie.poster_path}}" width="250px" alt="poster">
    </div>
    <h4>
      {{singleMovie.original_title}}
    </h4>
    <div class="info">
      <p>Rating: {{singleMovie.vote_average}}</p>
      <div>
      </div>
      <ul class="rating-list" style="padding-left: 0" *ngFor="let star of stars; let i= index">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
            (mouseout)="removeClass()"> <span class="material-icons">★</span>
        </li>
      </ul>
    </div>
  </a>
</div>
