.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px 20px 50px;
  color: #61626b;
}
.header_menu {
  display: flex;
  column-gap: 50px;
  cursor: pointer;
  align-items: center;
}
.logo img {
  height: 50px;
}
.active {
  color: snow;
}

.register img {
  width: 20px;
  height: 20px;
}
.register p {
  margin: 2px auto;
}
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_menu div:hover {
  transition: 0.3s;
  color: snow;
}
