.genre {
  text-align: center;
  cursor: pointer;
  border-radius: 20px;
}
.genre:hover {
  transition: 0.3s;
  border: 1px solid deeppink;
  padding: 10px;
}
a {
  text-decoration: none;
  color: #61626b;
}
a:hover {
  color: deeppink;
}

