.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin: 0 2%;
}

button {
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  color: snow;
  column-gap: 20px;
}
.pagination button {
  margin: 20px 0;
  padding: 5px 10px;
  border: 1px solid deeppink;
  color: deeppink;
  background: transparent;
  border-radius: 20px;
  width: 100px;
}
.pagination button:hover {
  transition: 0.3s;
  background: deeppink;
  color: snow;
}
