.movies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 50px;
  margin: 0 2%;
}

.search {
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: flex-end;
  margin: 10px 120px;
}
.search img {
  width: 20px;
  height: 20px;
}
input {
  background: transparent;
  border-radius: 20px;
  padding: 7px;
  border: 2px solid #61626b;
  color: snow;
}
button {
  cursor: pointer;
}
.pagination {
  display: flex;
  justify-content: center;
  color: snow;
  column-gap: 20px;
}
.pagination button {
  margin: 20px 0;
  padding: 5px 10px;
  border: 1px solid snow;
  color: snow;
  background: transparent;
  border-radius: 20px;
  width: 100px;
}
.pagination button:hover {
  transition: 0.3s;
  background: snow;
  color: #61626b;
}
